<% 
function getIngredientsArray(pizza) {
    var content = pizza.content;
    var result = [];
    Object.keys(content).forEach(function(key){
        result = result.concat(content[key]);
    });

    return result;
}  %>
<%
function getPizzaColumn(pizza) {
if(pizza.big_size && pizza.small_size) { 
    return "col-sm-6 col-md-6 col-lg-6";} 
else { 
    return "col-sm-12 col-md-12 col-lg-12";} 
}
%>


<div class="col-md-6 col-lg-4">
                    <div class="thumbnail pizza-card">
                        <img  class="pizza-icon" src="<%= pizza.icon %>">
                        
                        <% if(pizza.is_new) { %>
        <span class="label label-danger">Нова</span>
        <% } else if(pizza.is_popular) {%>
        <span class="label label-success">Популярна</span>
        <% } %>
                   
                        <div class="caption">
                            <div class="title"> <h2><%= pizza.title %></h2></div>
                           <p class="type"> <%= pizza.type %></p>
                            <div class="description">
                            <%= getIngredientsArray(pizza).join(", ") %></div>
                            <div class="row info">
                                              
<% if(pizza.small_size) {
var info = pizza.small_size;
%>                           
                                <div class="<%= getPizzaColumn(pizza) %>">
                                    <div class="size">
                                       <%= info.size %>
                                    </div>
                                    <div class="weight">
                                       <%= info.weight %>
                                    </div>
                                    <div class="price">
                                        <%= info.price %>
                                    </div>
                                    <div class="currency">
                                        грн.
                                    </div><button class="btn btn-warning buy-small" >Купити</button>
                                </div>            
                                <% } %>
                                <% if(pizza.big_size) {
var info = pizza.big_size;
%>                           
                                <div class="<%= getPizzaColumn(pizza) %>">
                                    <div class="size">
                                       <%= info.size %>
                                    </div>
                                    <div class="weight">
                                       <%= info.weight %>
                                    </div>
                                    <div class="price">
                                        <%= info.price %>
                                    </div>
                                    <div class="currency">
                                        грн.
                                    </div><button class="btn btn-warning buy-big" >Купити</button>
                                </div>            
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>



