<div class="item">
                <div class="item-name"><%= pizza.title %> 
                    <% if(size==="small_size") {
                                var pizzaSize = "Мала";
                                %>           
                   (<%= pizzaSize %>)<% } %>
                     <% if(size==="big_size") {
                                    var pizzaSize = "Велика";
                                    %>           
                    (<%= pizzaSize %>)<% } %></div>
                <div class="item-info">
                <div class="size"><%= pizza[size].size %></div>
                <div class="weight"><%= pizza[size].weight %></div></div>
                <div class="item-price-info">
                    <div id="item-price" class="item-price"><%= pizza[size].price %></div> 
                    <div class="item-price">грн.</div>
                </div>
                <div class="item-count">
                <button class="minus glyphicon glyphicon-minus"></button>
                <span class="number"><%= quantity %></span>
                  <span class="pizza-word"> пiца</span>
                <button class="plus glyphicon glyphicon-plus"></button>
                <button class="delete glyphicon glyphicon-remove"></button>
                </div>
                <div class="item-image"> <img src="<%= pizza.icon %>"></div>
            </div>